{{ $card := resources.Get "scss/card.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $card.RelPermalink }}">
<div class="card-container">
  {{ range . }}
  <a class="card" href="{{ .Page.RelPermalink }}" >
    <div class="card-title">
      {{ .Page.Title }}
  </div>
    <div class="card-description"> {{ .Page.Description }}</div>
    {{ with .Page.Params.Image }}
    <img class="card-image" src="{{ . }}">
    {{ end }}
    {{ with .Page.Params.date_start }}
    <div class="card-date-start">from {{ . }}</div>
    {{ end }}
    {{ with .Page.Params.date_end }}
    <div class="card-date-end">to {{ . }}</div>
    {{ end }}
</a>
  {{ end }}
</div>
