{{ $header := resources.Get "scss/header.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $header.RelPermalink }}">
<header class="site-header">
  <nav class="header-nav">
    <!-- Logo/Home Link -->
    <a href="{{ .Site.BaseURL }}" class="site-logo">
      {{ .Site.Title }}
    </a>

    <a class="header-nav-link" href="{{ absURL "" }}">Home</a>
    <a class="header-nav-link" href="{{ absURL "" }}1764413634.md">CV</a>
    <a class="header-nav-link" href="{{ absURL "" }}tags/">Tags</a>
    <a class="header-nav-link" href="{{ absURL "" }}categories/">Categories</a>
  </nav>
  <div class="header-search">
    {{ partial "search" . }}
    </div>
</header>

<style>
</style>
