@import "catppucin-mocha.scss";

.author-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.author-image {
  margin: 2rem;
  width: 20rem;
  height: auto;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba($mocha-peach, 0.1);
}

.author-contact-container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.author-contact-image{

  font-size: 1.2rem;
  margin: 5px;
  max-width: 10rem;
  width: 5rem;
  max-height: 10rem;
  height: 5rem;
  padding: 0.2rem;
  border-radius: 3px;
  border-style: none;
  border-color: $mocha-blue;
  color: $mocha-blue;
  border-width: 1px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.author-name {
  color: $mocha-peach;
  margin-bottom: 2rem;
  text-align: center;
}

.author-headline {
  font-size: 1.25rem;
  color: $mocha-teal;
  text-align: center;
}

.author-bio {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}

@media (max-width: 640px) {

  .author-image img {
    width: 120px;
    height: 120px;
  }
}
