@import "catppucin-mocha.scss";

.site-header {
  background-color: rgba($mocha-blue, 0.25);
  top: 0;
  margin: 0;
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header-search{
  display: flex;
  width: 20%;
  align-items: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  min-width: 20%;

}

.header-nav {
  top: 0;
  width: 80%;
  max-width: 80%;
  height: 3rem;
  padding: 0 4rem;
  display: flex;
  margin-left: 1rem;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.header-nav-link {
  padding: 1rem;
  height: 2rem;
  font-size: 2rem;
  color: $mocha-blue;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-nav-link:hover {
  color: $mocha-teal;
}

.header-site-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: $mocha-blue;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-site-logo:hover {
  color: $mocha-teal;
}


@media (max-width: 640px) {
  .header-nav{
    display: none;
  }
  .header-search{
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}
