@import "catppucin-mocha.scss";

.homepage-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-content {
  text-align: center;
  max-width: 80%;
  width: 100%;
}

.site-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: $mocha-blue;
}

.search-container {
  display: flex;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  max-width: 800px;
  padding: 1rem 1.5rem;
  border-color: $mocha-blue;
  background-color: rgba($mocha-blue, 0.25);;
  color: $mocha-blue;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  outline: solid;
}

@media (max-width: 640px) {
  .site-title {
    font-size: 2rem;
  }
  .homepage-content{
  max-width: 600px;
  }



}
