@import "catppucin-mocha.scss";
.page-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 100%;
}

a {
  color: $mocha-blue;
}

a:hover {
  color: $mocha-peach;
}

.page-right-column {
  min-width: 20%;
  width: 20%;

}

img {
  height: auto;
  width: auto;
  max-width: 80%;
}

@media only screen and (max-width: 480px){
  img {
    height: auto;
    width: auto;
    max-width: 30rem;
  }
  .page-toc {
    display: none;

  }

  .page-container {
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
  }
}
