@import "catppucin-mocha.scss";
.page-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 2 1 auto;
  width: max-content;
}

a {
  color: $mocha-blue;
}

a:hover {
  color: $mocha-peach;
}

.page-right-column {

  width: min-content;
  flex: 0 0 auto;
}

img {
  height: auto;
  width: auto;
  max-width: 80%;
  margin-left: 1rem;
}

@media only screen and (max-width: 480px){
  img {
    height: auto;
    width: auto;
    max-width: 30rem;
  }
  .page-toc {
    display: none;

  }

  .page-content{
    width: 100%;
  }

  .page-container {
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
  }
}
