@import "catppucin-mocha.scss";
.page-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
a {
  color: $mocha-blue;
}
a:hover {
  color: $mocha-peach;
}
img {
  height: auto;
  width: auto;
}

@media only screen and (max-width: 480px){
  img {
    height: auto;
    width: auto;
    max-width: 30rem;
  }
.page-toc {
  display: none;
}


.page-container {
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
}
}
