@import "catppucin-mocha.scss";
.search-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  align-items: top;
  justify-content: center;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

.search-overlay-content {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 12px;
  padding: 3rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
from {
  transform: translateY(-50px);
  opacity: 0;
}
to {
  transform: translateY(0);
  opacity: 1;
}
}

.search-input {
  padding: 1rem 1.5rem;
  border-color: $mocha-blue;
  background-color: rgba($mocha-blue, 0.25);
  color: $mocha-blue;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  outline: solid;
  position: absolute;
  top: 3rem;
}
.search-results{
  top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  position: absolute;
  padding: 1rem 1.5rem;
}
.search-snippet,.search-summary,.search-tags,.search-categories{

  text-align: center;
  width: 100%;




}

.search-button-overlay:hover {
  background-color: #3182ce;
}
.search-trigger {
  background: none;
  border: none;
  color: $mocha-blue;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  border-radius: 50%;
}

.search-trigger:hover {
  color: $mocha-teal;
}
