@import "catppucin-mocha.scss";

.tag-container{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.tag{
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-color: $mocha-blue;
  color: $mocha-blue;
  border-width: 1px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tag:hover{

  color: $mocha-teal;
  border-color: $mocha-teal;
  box-shadow: 0 6px 15px $mocha-teal; /* blue shadow on hover */
}

