@import "catppucin-mocha.scss";

.toc-title{
  color: $mocha-peach;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  min-width: 30%;
}

.toc-list{
  list-style: circle;
  display: flex;
  flex-direction: column;
  min-width: 30%;
}
.toc-link{
  text-decoration: none;
  font-size: 1.5rem;
  flex-direction: column;
  color: $mocha-sky;
}
.toc-link:hover{
  font-weight: bold;
  color: $mocha-sky;
}
