<h3 class="main-title">WORK EXPERIENCES</h3>
<div class="experience-container">
	<nb-card *ngFor="let experience of experiences"
		class="experience-card  nb-card-zoom-animation nb-card-shadow">
		<nb-card-header class="title">
			{{experience?.name}}
		</nb-card-header>
		<nb-card-body class="texts">
			{{experience?.description}}
			<div class="experience-time" >
				{{experience?.time}}
			</div>
		</nb-card-body>
		<nb-card-footer class="card-footer nb-card-footer-text">
			<img *ngFor="let link of experience.link"
				src="{{link}}"
				alt
				class="badge-logo">
		</nb-card-footer>
	</nb-card>
</div>
