<nb-layout>
	<nb-layout-header>
		<div style=" font-weight: bold;">CURRICULUM VITAE</div>
	</nb-layout-header>
	<nb-layout-column>
		<div class="card-row">
			<div class="card-col-1-3">
		<app-personal-data></app-personal-data>

			</div>
			<div class="card-col-1-3">
				<app-formations></app-formations>
		
					</div>
			<div class="card-col-1-3">
				<app-image></app-image>

			</div>
		
	</div>
	<div class="row">
		<div class="col">
		<app-skills></app-skills>

		</div>
		<div class="col">
			<app-work-experiences></app-work-experiences>
	
			</div>

	</div>


	</nb-layout-column>
	<nb-layout-footer>
		<a href="http://github.com/carnivuth">Longhi Matteo</a>
	</nb-layout-footer>

</nb-layout>
