<nb-layout>
	<nb-layout-header>
		<H2 style=" font-weight: bold;">CURRICULUM VITAE</H2>
	</nb-layout-header>
	<nb-layout-column>
		<div class="main-grid">
			<div class="Personal-data-formation-grid">
				<app-personal-data></app-personal-data>
				<app-formations></app-formations>

			</div>
			<div class="foto-flex">
				<app-image></app-image>

			</div>

		</div>

		<app-work-experiences></app-work-experiences>
		<app-skills></app-skills>

	</nb-layout-column>
	<nb-layout-footer>
		<a href="http://github.com/carnivuth">Longhi Matteo</a>
	</nb-layout-footer>

</nb-layout>
