:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 28%  28% 28% ;
    grid-template-rows: auto  ;
    column-gap: 5%;
    align-items: right;
  }

.main-grid{
  display: grid;
  grid-template-columns: 55%  40% ;
  grid-template-rows: 20%;
  column-gap: 5%;
}
.foto-grid{
  display: grid;
  grid-template-columns: 100% ;
}
.personal-data-formation-grid{
  display: grid;
  grid-template-rows: 55%  40% ;
  row-gap: 5%;
}

