.personal-data {
  text-align: center;
  text-size-adjust: 22px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.texts {
  text-align: center;
  font-size: large;

}
.title{
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
