<nb-card class=" nb-card-shadow">
	<nb-card-header class="main-title">Personal details</nb-card-header>
	<div class="personal-data-container">
		<app-image></app-image>
		<div class="text-container">
			<nb-card-body>
				<div class="text-container title">Name</div>
				<div class="texts">
					{{pd?.name}} {{pd?.surname}}
				</div>
				<div class="text-container title">City</div>
				<div class="text-container texts">{{pd?.city}}</div>
				<div class="text-container title">Bio</div>
				<div class="text-container texts">{{pd?.bio}}</div>
			</nb-card-body>
		</div>
	</div>

</nb-card>
