.personal-data {
  text-align: center;
  text-size-adjust: 22px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.personal-data-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto;
}
.text-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .personal-data-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
