{{ define "main" }}
{{ $home := resources.Get "scss/home.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $home.RelPermalink }}">
<div class="homepage-container">
  <div class="homepage-content">

    {{ partial "author" }}

    <!-- posts section -->
    {{ $posts := site.RegularPages.ByDate }}
    {{ $posts = where $posts "Params.categories" "intersect" (slice "posts") }}
    {{ $posts = last 4 $posts }}
    {{ with $posts }}
    <h2>Recent <a href="/categories/posts" >Posts</a></h2>
    {{ partial "cards" . }}
    {{ end }}

    <!-- games section -->
    {{ $games := site.RegularPages.ByDate }}
    {{ $games = where $games "Params.categories" "intersect" (slice "games") }}
    {{ $games = last 4 $games }}
    {{ with $games }}
    <h2>Recent thoughts on <a href="/categories/games" >Games</a> </h2>
    {{ partial "cards" . }}
    {{ end }}

    <!-- notes section -->
    {{ $notes := site.RegularPages.ByDate }}
    {{ $notes = where $notes "Params.categories" "intersect" (slice "notes") }}
    {{ $notes = last 4 $notes }}
    {{ with $notes }}
    <h2>Some of my recent <a href="/categories/notes" >Notes</a> </h2>
    {{ partial "cards" . }}
    {{ end }}

  </div>
</div>
</div>

{{ end }}
