{{ define "main" }}
{{ $home := resources.Get "scss/home.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $home.RelPermalink }}">
<div class="homepage-container">
  <div class="homepage-content">
    <!-- Author Image -->
    <div class="author-image">
      <img src="/avatar.jpg" alt="{{ .Site.Author.name }}">
    </div>

    <!-- Title -->
    <h1 class="site-title">{{ .Site.Title }}</h1>

    <!-- Author Name (optional) -->
    <p class="author-name">{{ .Site.Params.Author.name }}</p>

    <!-- Search Bar Placeholder -->

      {{ partial "search" }}
    <h2>Categories</h2>
  {{ partial "cards" .Site.Taxonomies.categories.ByCount }}
    <h2>Posts</h2>
    {{  $posts := where .Site.RegularPages "Params.categories" "intersect" "posts" }}
  {{ partial "cards" $posts }}
  </div>
  </div>
</div>

<style>
</style>
{{ end }}
