{{ define "main" }}
{{ $page := resources.Get "scss/page.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $page.RelPermalink }}">
<article class="page-container">
  <h1>{{ .Title }}</h1>
    <div class="page-content">
      {{ with (.GetTerms "tags" ) }}
        {{ partial "tags" .  }}
      {{ end }}
      {{ .Content }}
      {{ with .Params.references }}
        {{ partial "references" . }}
      {{ end }}
    </div>
<!--
<div class="page-toc">
{{ partial "toc" . }}
</div>
-->
</article>
{{ end }}
