{{ define "main" }}
{{ $page := resources.Get "scss/page.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $page.RelPermalink }}">
<article class="container">
  <h1>{{ .Title }}</h1>
  {{ with (.GetTerms "tags" ) }}
    {{ partial "tags" .  }}
  {{ end }}
  <div class="page-container">
    <div class="page-content">
      {{ .Content }}
      {{ with .Params.references }}
        {{ partial "references" . }}
      {{ end }}
    </div>
    <!--
<div class="page-toc">
{{ partial "toc" . }}
</div>
-->
  </div>

</article>
{{ end }}
