{{ $emojis := dict
  "error" ":red_circle:"
  "warning" ":warning:"
  "note" ":large_blue_diamond:"
  "quote" ":large_blue_diamond:"
  "tip" ":heavy_check_mark:"
}}

{{ if eq .Type "alert" }}
  <blockquote class="alert alert-{{ .AlertType }}">
  <p class="alert-heading alert-heading-{{ .AlertType }}">
      {{ transform.Emojify (index $emojis .AlertType) }}
      {{ with .AlertTitle }}
        {{ . }}
      {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
      {{ end }}
    </p>
    {{ .Text }}
  </blockquote>
{{ else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}
<style>


</style>
