{{ with $file := .Get 0 }}
{{ with resources.Get $file }}
{{ with . | transform.Unmarshal }}

<h2 class="text-center bold">Projects</h2>

<div class="card-container">
  {{ range .projects }}
    <div onclick="window.open('{{ .project_link }}');" class="card">
      <h5 class="card-title">{{ .name }}</h5>
      <p class=" card-content">{{ .description }}</p>
      <div class="card-footer">
        {{ range .links }}
        <img src="{{ . }}" class="card-footer-img"></img>
        {{ end }}
      </div>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
{{ end }}
{{ end }}
